
body {
    background-color: #f7f7f7; 
    font-family: Arial, sans-serif;
    
}




h1 {
    font-size: 23px;
    text-align: center;
    margin-top: 20px;
    color: green;
    font-family: 'Times New Roman', Times, serif;

}



form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff; /* White background */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 0.5s ease; 
}

label {
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
    color: #333; /* Dark text color */
}

input, select, textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s ease; 
    background-color: #f9f9f9; 
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border-color: #27ae60; /* Green border color on focus */
    background-color: #ffffff; /* White input background on focus */
}


input[type="checkbox"] {
    margin-right: 10px;
    margin-top: 10px;
}




@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}




.input-group label {
    color: #333; /* Dark text color */
}
.submit-button {
    width:95%;
    padding: 10px;
    background-color: lightseagreen;
    color: #4caf50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
.submit-button :hover{
   background-color: lightgreen;
}
.submit-btn{
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    
}
.input-group span{
    color: red;
}
.success{
    color: #2c3e50;
    font-weight: bold;
}